root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.i5]
indent_style = tab
indent_size = 5
max_line_length = 100

[*.md]
trim_trailing_whitespace = false
max_line_length = 80
